<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.emirim.w2038.android_project">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Project">
        <activity android:name=".Dessert41" />
        <activity android:name=".Dessert40" />
        <activity android:name=".Dessert39" />
        <activity android:name=".Dessert38" />
        <activity android:name=".Dessert37" />
        <activity android:name=".Dessert36" />
        <activity android:name=".Dessert35" />
        <activity android:name=".Dessert34" />
        <activity android:name=".Dessert33" />
        <activity android:name=".Dessert31" />
        <activity android:name=".Dessert30" />
        <activity android:name=".Dessert29" />
        <activity android:name=".Dessert28" />
        <activity android:name=".Dessert26" />
        <activity android:name=".Dessert25" />
        <activity android:name=".Dessert24" />
        <activity android:name=".Dessert23" />
        <activity android:name=".Dessert22" />
        <activity android:name=".Dessert21" />
        <activity android:name=".Dessert20" />
        <activity android:name=".Dessert19" />
        <activity android:name=".Dessert18" />
        <activity android:name=".Dessert17" />
        <activity android:name=".Dessert16" />
        <activity android:name=".Dessert15" />
        <activity android:name=".Dessert14" />
        <activity android:name=".Dessert13" />
        <activity android:name=".Dessert12" />
        <activity android:name=".Dessert11" />
        <activity android:name=".Dessert10"></activity>
        <activity android:name=".Dessert08" />
        <activity android:name=".Dessert07" />
        <activity android:name=".Dessert05" />
        <activity android:name=".Dessert04" />
        <activity android:name=".Dessert03" />
        <activity android:name=".Dessert02" />
        <activity android:name=".Dessert01" />
        <activity android:name=".Lunchbox04" />
        <activity android:name=".Lunchbox03" />
        <activity android:name=".Lunchbox02" />
        <activity android:name=".Lunchbox01" />
        <activity android:name=".Pizza08" />
        <activity android:name=".Pizza07" />
        <activity android:name=".Pizza06" />
        <activity android:name=".Pizza05" />
        <activity android:name=".Pizza04" />
        <activity android:name=".Pizza03" />
        <activity android:name=".Pizza02" />
        <activity android:name=".Pizza01" />
        <activity android:name=".Chicken13" />
        <activity android:name=".Chicken11" />
        <activity android:name=".Chicken10" />
        <activity android:name=".Chicken09" />
        <activity android:name=".Chicken08" />
        <activity android:name=".Chicken07" />
        <activity android:name=".Chicken06" />
        <activity android:name=".Chicken05" />
        <activity android:name=".Chicken04" />
        <activity android:name=".Chicken03" />
        <activity android:name=".Chicken02" />
        <activity android:name=".Chicken01" />
        <activity android:name=".Etc07" />
        <activity android:name=".Etc06" />
        <activity android:name=".Etc05" />
        <activity android:name=".Etc04" />
        <activity android:name=".Etc03" />
        <activity android:name=".Etc02" />
        <activity android:name=".Etc01" />
        <activity android:name=".Western02" />
        <activity android:name=".Western01" />
        <activity android:name=".Chinese14" />
        <activity android:name=".Chinese12" />
        <activity android:name=".Chinese13" />
        <activity android:name=".Chinese11" />
        <activity android:name=".Chinese10" />
        <activity android:name=".Chinese09" />
        <activity android:name=".Chinese08" />
        <activity android:name=".Chinese07" />
        <activity android:name=".Chinese06" />
        <activity android:name=".Chinese05" />
        <activity android:name=".Chinese04" />
        <activity android:name=".Chinese03" />
        <activity android:name=".Chinese01" />
        <activity android:name=".Fastfood04" />
        <activity android:name=".Fastfood03" />
        <activity android:name=".Fastfood02" />
        <activity android:name=".Fastfood01" />
        <activity android:name=".Fusion03" />
        <activity android:name=".Fusion02" />
        <activity android:name=".Fusion01" />
        <activity android:name=".Japanese20" />
        <activity android:name=".Japanese19" />
        <activity android:name=".Japanese18" />
        <activity android:name=".Japanese17" />
        <activity android:name=".Japanese16" />
        <activity android:name=".Japanese15" />
        <activity android:name=".Japanese14" />
        <activity android:name=".Japanese13" />
        <activity android:name=".Japanese12" />
        <activity android:name=".Japanese11" />
        <activity android:name=".Japanese10" />
        <activity android:name=".Japanese09" />
        <activity android:name=".Japanese08" />
        <activity android:name=".Japanese07" />
        <activity android:name=".Japanese06" />
        <activity android:name=".Japanese05" />
        <activity android:name=".Japanese04" />
        <activity android:name=".Japanese03" />
        <activity android:name=".Japanese02" />
        <activity android:name=".Japanese01" />
        <activity android:name=".Snack20" />
        <activity android:name=".Snack19" />
        <activity android:name=".Snack18" />
        <activity android:name=".Snack17" />
        <activity android:name=".Snack16" />
        <activity android:name=".Snack14" />
        <activity android:name=".Snack13" />
        <activity android:name=".Snack12" />
        <activity android:name=".Snack11" />
        <activity android:name=".Snack10" />
        <activity android:name=".Snack09" />
        <activity android:name=".Snack08" />
        <activity android:name=".Snack07" />
        <activity android:name=".Snack06" />
        <activity android:name=".Snack05" />
        <activity android:name=".Snack04" />
        <activity android:name=".Snack03" />
        <activity android:name=".Snack02" />
        <activity android:name=".Snack01" />
        <activity android:name=".Korean85" />
        <activity android:name=".Korean83" />
        <activity android:name=".Korean82" />
        <activity android:name=".Korean81" />
        <activity android:name=".Korean80" />
        <activity android:name=".Korean79" />
        <activity android:name=".Korean78" />
        <activity android:name=".Korean77" />
        <activity android:name=".Korean76" />
        <activity android:name=".Korean75" />
        <activity android:name=".Korean74" />
        <activity android:name=".Korean73" />
        <activity android:name=".Korean72" />
        <activity android:name=".Korean71" />
        <activity android:name=".Korean70" />
        <activity android:name=".Korean69" />
        <activity android:name=".Korean68" />
        <activity android:name=".Korean67" />
        <activity android:name=".Korean66" />
        <activity android:name=".Korean65" />
        <activity android:name=".Korean62" />
        <activity android:name=".Korean61" />
        <activity android:name=".Korean60" />
        <activity android:name=".Korean59" />
        <activity android:name=".Korean58" />
        <activity android:name=".Korean57" />
        <activity android:name=".Korean56" />
        <activity android:name=".Korean55" />
        <activity android:name=".Korean54" />
        <activity android:name=".Korean53" />
        <activity android:name=".Korean52" />
        <activity android:name=".Korean51" />
        <activity android:name=".Korean50" />
        <activity android:name=".Korean49" />
        <activity android:name=".Korean48" />
        <activity android:name=".Korean47" />
        <activity android:name=".Korean46" />
        <activity android:name=".Korean45" />
        <activity android:name=".Korean44" />
        <activity android:name=".Korean43" />
        <activity android:name=".Korean42" />
        <activity android:name=".Korean41" />
        <activity android:name=".Korean40" />
        <activity android:name=".Korean39" />
        <activity android:name=".Korean38" />
        <activity android:name=".Korean37" />
        <activity android:name=".Korean36" />
        <activity android:name=".Korean35" />
        <activity android:name=".Korean34" />
        <activity android:name=".Korean33" />
        <activity android:name=".Korean32" />
        <activity android:name=".Korean31" />
        <activity android:name=".Korean30" />
        <activity android:name=".Korean29" />
        <activity android:name=".Korean28" />
        <activity android:name=".Korean27" />
        <activity android:name=".Korean26" />
        <activity android:name=".Korean25" />
        <activity android:name=".Korean24" />
        <activity android:name=".Korean23" />
        <activity android:name=".Korean22" />
        <activity android:name=".Korean21" />
        <activity android:name=".Korean20" />
        <activity android:name=".Korean19" />
        <activity android:name=".Korean18" />
        <activity android:name=".Korean17" />
        <activity android:name=".Korean16" />
        <activity android:name=".Korean15" />
        <activity android:name=".Korean14" />
        <activity android:name=".Korean13" />
        <activity android:name=".Korean12" />
        <activity android:name=".Korean11" />
        <activity android:name=".Korean10" />
        <activity android:name=".Korean09" />
        <activity android:name=".Korean08" />
        <activity android:name=".Korean07" />
        <activity android:name=".Korean06" />
        <activity android:name=".Korean05" />
        <activity android:name=".Korean04" />
        <activity android:name=".Korean03" />
        <activity android:name=".Splash" />
        <activity android:name=".Korean02" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBOqaea3VL8HBEGEFInoC1XvKup7m2Sck" />

        <activity android:name=".Korean01" />
        <activity android:name=".Fusion" />
        <activity android:name=".Lunchbox" />
        <activity android:name=".Fastfood" />
        <activity android:name=".Dessert" />
        <activity android:name=".Pizza" />
        <activity android:name=".Chicken" />
        <activity android:name=".Etc" />
        <activity android:name=".Western" />
        <activity android:name=".Chinese" />
        <activity android:name=".Japanese" />
        <activity android:name=".Snack" />
        <activity android:name=".Korean" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>